In [1]:
import numpy as np

In [2]:
num=np.array([22,11,45,67,98])

##mean

In [4]:
num.mean()

48.6

In [5]:
np.mean(num)

48.6

In [6]:
sum(num)/len(num)

48.6

##median

In [10]:
np.sort(num)

array([11, 22, 45, 67, 98])

In [11]:
np.median(num)

45.0

In [12]:
x=np.arange(1,91)

In [13]:
np.mean(x)

45.5

In [15]:
np.median(x)

45.5

##mode

In [17]:
import pandas as pd

In [18]:
gender=pd.Series(['M','M','F','F','M','F'])

In [19]:
gender.value_counts()

M    3
F    3
dtype: int64

In [20]:
gender.mode()

0    F
1    M
dtype: object

In [21]:
age=pd.Series([22,21,20,23,21,20,23,21,20])

In [22]:
age.value_counts()

21    3
20    3
23    2
22    1
dtype: int64

In [23]:
age.mode()

0    20
1    21
dtype: int64

### midrange

In [25]:
(num.max()+num.min())/2

54.5

### mean absolute deviation

In [27]:
sum(abs(num-np.mean(num)))/len(num)

27.120000000000005

In [28]:
x=np.ones(10)+20

In [29]:
x

array([21., 21., 21., 21., 21., 21., 21., 21., 21., 21.])

In [30]:
sum(abs(x-np.mean(x)))/len(x)

0.0

### Variance

In [32]:
np.mean((num-np.mean(num))**2)

982.64

### Standard Deviation

In [34]:
np.sqrt(np.mean((num-np.mean(num))**2))

31.347089179060948

In [35]:
np.std(num)

31.347089179060948

### Data Operation

In [37]:
import os
os.getcwd()

'C:\\Users\\ADMIN'

### Import the Data

In [40]:
df=pd.read_csv('demo.csv')
df

,टाइमस्टँप,roll_num,name,middlename,surname,age,marks,gender,favorite_sport,native_city,year_of_passing_10th
0,30-05-2023 11:02,2201013,Swaroop,Jitendra,Bankar,21.0,7.9,Male,Badminton,Pune,2017
1,30-05-2023 11:02,22201055,Isha,Praveen,Hosur,22.0,8.64,Female,Swimming,Pune,2017
2,30-05-2023 11:02,2201071,Pranav,Girish,Joshi,22.0,8.2,Male,Cricket,Pune,2017
3,30-05-2023 11:02,2201049,Kunal,Vijay,Golani,NaN,8.36 SGPA,Male,Cricket,Surat,2017
4,30-05-2023 11:03,2201070,Naresh,prakash,Joshi,22.0,85,Male,cricket,aurangabad,2017
5,30-05-2023 11:03,2201041,Shreyas,Sanjay,Dharashivkar,22.0,7.9,Male,Swimming,Pune,2017
6,30-05-2023 11:03,2201068,Maitreyee,Mahesh,Joshi,22.0,9.25,Female,Badminton,Pune,2017
7,30-05-2023 11:03,2201069,Mrunal,Vivek,Joshi,21.0,88%,Female,swimming,Pune,2017
8,30-05-2023 11:03,2201043,Vaibhav,Girish,Dixit,23.0,80,Male,Squash,Mumbai,2015
9,30-05-2023 11:03,2201065,Aakash,Satish,Jagtap,21.0,82.4,Male,Cricket,Pune,2017
10,30-05-2023 11:03,2201063,Sanket,Rajaram,Jadhav,NaN,98.21,Male,Swimmng,Chicnholi,2017
11,30-05-2023 11:03,2201038,Priyanka,Popat,Dhanave,21.0,82.8,Female,Swimming,Pune,2017
12,30-05-2023 11:03,2201097,Ranjit,Prakash,Kokare,NaN,80,Male,Badminton,Solapur,2015
13,30-05-2023 11:03,2201032,Aditi,Mangesh,Deo,NaN,75%,Female,swimming,Pune,2017
14,30-05-2023 11:03,2201040,Tejas,Arun,Dhanuskar,NaN,90,Male,Cricket,Nagpur,2017
15,30-05-2023 11:03,2201098,hritika,chandrakant,koli,22.0,50,Female,cricket,pune,2016
16,30-05-2023 11:03,2201016,Harshada,Vijay,Bhalekar,22.0,78%,Female,Badminton,Sangamner,2017
17,30-05-2023 11:04,2201051,Sanskriti,.,Gupta,NaN,100,Female,.,Varanasi,2017
18,30-05-2023 11:04,2201076,Akanksha,Bharat,Kadlag,22.0,87,Female,Badminton,Sinnar,2016
19,30-05-2023 11:04,2201035,Parth,Dinkar,Deshpande,21.0,90,Male,Cricket,Akola,2017
20,30-05-2023 11:04,2201103,Ajay,Rupchand,Koronde,NaN,82,Male,Cricket,Gondia,2017
21,30-05-2023 11:04,2201089,Tejas,Mahendra,kashid,NaN,7.8,Male,Cricket,pune,2017
22,30-05-2023 11:04,2201177,Pranjal,Prakash,Shintre,22.0,87,Male,Football,Kolhapur,2016
23,30-05-2023 11:04,2201030,Debraj,Debasish,Das,NaN,100,Male,Football,Kolkata,2017
24,30-05-2023 11:04,2201101,Shreya,Rahul,Korde,21.0,85,Female,Cricket,Kolhapur,2017
25,30-05-2023 11:04,2201024,Vedant,Mangesh,Chandratre,22.0,8.57 sgpa,Male,Power Lifting,Pune,2017
26,30-05-2023 11:04,2201102,Ganesh,Balasaheb,Kore,NaN,100,Male,Cricket,pune,2016
27,30-05-2023 11:04,2201002,Parth,Pramod,Agnihotri,NaN,83.32,Male,TT_Badminton,pune,2019
28,30-05-2023 11:04,2201028,Mihir,Hemant,chaudhary,22.0,89,Male,football,mumbai,2017
29,30-05-2023 11:05,2201037,Abhishek,Ramdas,Dethe,NaN,8,Male,Cricket,Amravati,2016
30,30-05-2023 11:05,2201095,Aditya,Ashok,Kodape,22.0,7.9 cgpa,Male,football,Satefal,2017
31,30-05-2023 11:05,2201020,Mayur,Sanjaykumar,Biyale,NaN,83,Male,Cricket,Beed,2015
32,30-05-2023 11:05,2201018,RIYA,PRAMOD,BHIDE,23.0,7.32 SGPA,Female,CRICKET,NAGPUR,2015
33,30-05-2023 11:05,2201073,Utkarsha,Shridhar,Joshi,22.0,66,Female,Cricket,Aurangabad,2017
34,30-05-2023 11:05,2201008,Shreyash,Sanjay,Amrutkar,21.0,80,Male,Cricket,Nashik,2017
35,30-05-2023 11:05,2201056,Aditya,Sanjay,Jadhav,23.0,93,Male,Cricket,Nashik,2016
36,30-05-2023 11:05,2201077,Aniruddha,Rajesh,Kakade,NaN,70,Male,Football,Kolhapur,2017
37,30-05-2023 11:05,2201021,Yash,Subhash,Bombale,21.0,72.10%,Male,Swimming,Pune,2017
38,30-05-2023 11:05,2201009,Anshika,,,NaN,7.96,Female,Badminton,Pune,2016
39,30-05-2023 11:05,2201094,keshvi,kumari,khanduja,22.0,8.5,Female,badminton,neemuct,2017
40,30-05-2023 11:05,2201004,Ritika,Surendra,Ahuja,22.0,75%,Female,Badminton,Dhule,2021
41,30-05-2023 11:05,2201022,Omkar,Vijay,Borse,21.0,8.36,Male,cricket,Nashik,2017
42,30-05-2023 11:05,2201061,Rohit,Sunil,Jadhav,23.0,7.21 SGPA,Male,Cricket,Sangamner,2016
43,30-05-2023 11:05,2201031,Amogh,Shrikant,Datar,22.0,81,Male,Chess,Pune,2017
44,30-05-2023 11:06,2201012,Gaurav,Sunil,Bangade,21.0,8,Male,voliball,Warora,2017
45,30-05-2023 11:06,2201036,Eshan,Ashish,Desle,24.0,7,Male,Cricket,Pune,2014
46,30-05-2023 11:06,2201058,Manasi,Shreedhar,Jadhav,22.0,8.5 sgpa,Female,cricket,mahabaleshwar,2017
47,30-05-2023 11:06,2201066,Bhargav,Nandkishor,Jagtap,NaN,81,Male,football,pune,2017-18
48,30-05-2023 11:06,2201067,srishti,Rajesh,Jain,23.0,7.3,Female,badminton,durg,2015
49,30-05-2023 11:06,2201088,Sahil,Sunil,Karpe,23.0,80,Male,Snocker,Nashik,2014
50,30-05-2023 11:06,2201051,Sanskriti,.,gupta,NaN,100,Female,.,Varanasi,2017
51,30-05-2023 11:07,2201083,SUYASH,DILIP,KAMBLE,23.0,7.7,Male,MOTORSPORTS,SASWAD,80
52,30-05-2023 11:07,2201007,Radhesahyam,Girish,Ambhore,22.0,8.9,Male,Cricket,Pune,2017
53,30-05-2023 11:07,2201054,Viresh,Nandkumar,Hiremath,NaN,7.9,Male,Cricket,Sangli,2016
54,30-05-2023 11:07,2201029,Tasmay,Ghanshyam,Daimiwal,22.0,7.8,Male,Football,Pune,2017
55,30-05-2023 11:07,2201075,vaibhav,Bharatrao,Kadam,23.0,95,Male,Chess,Jalna,2016

In [42]:
df.shape

(56, 11)

In [43]:
list(df.columns)

['टाइमस्टँप',
 'roll_num',
 'name',
 'middlename',
 'surname',
 'age',
 'marks',
 'gender',
 'favorite_sport',
 'native_city',
 'year_of_passing_10th']

In [44]:
df.iloc[3:,:7]

,टाइमस्टँप,roll_num,name,middlename,surname,age,marks
3,30-05-2023 11:02,2201049,Kunal,Vijay,Golani,NaN,8.36 SGPA
4,30-05-2023 11:03,2201070,Naresh,prakash,Joshi,22.0,85
5,30-05-2023 11:03,2201041,Shreyas,Sanjay,Dharashivkar,22.0,7.9
6,30-05-2023 11:03,2201068,Maitreyee,Mahesh,Joshi,22.0,9.25
7,30-05-2023 11:03,2201069,Mrunal,Vivek,Joshi,21.0,88%
8,30-05-2023 11:03,2201043,Vaibhav,Girish,Dixit,23.0,80
9,30-05-2023 11:03,2201065,Aakash,Satish,Jagtap,21.0,82.4
10,30-05-2023 11:03,2201063,Sanket,Rajaram,Jadhav,NaN,98.21
11,30-05-2023 11:03,2201038,Priyanka,Popat,Dhanave,21.0,82.8
12,30-05-2023 11:03,2201097,Ranjit,Prakash,Kokare,NaN,80
13,30-05-2023 11:03,2201032,Aditi,Mangesh,Deo,NaN,75%
14,30-05-2023 11:03,2201040,Tejas,Arun,Dhanuskar,NaN,90
15,30-05-2023 11:03,2201098,hritika,chandrakant,koli,22.0,50
16,30-05-2023 11:03,2201016,Harshada,Vijay,Bhalekar,22.0,78%
17,30-05-2023 11:04,2201051,Sanskriti,.,Gupta,NaN,100
18,30-05-2023 11:04,2201076,Akanksha,Bharat,Kadlag,22.0,87
19,30-05-2023 11:04,2201035,Parth,Dinkar,Deshpande,21.0,90
20,30-05-2023 11:04,2201103,Ajay,Rupchand,Koronde,NaN,82
21,30-05-2023 11:04,2201089,Tejas,Mahendra,kashid,NaN,7.8
22,30-05-2023 11:04,2201177,Pranjal,Prakash,Shintre,22.0,87
23,30-05-2023 11:04,2201030,Debraj,Debasish,Das,NaN,100
24,30-05-2023 11:04,2201101,Shreya,Rahul,Korde,21.0,85
25,30-05-2023 11:04,2201024,Vedant,Mangesh,Chandratre,22.0,8.57 sgpa
26,30-05-2023 11:04,2201102,Ganesh,Balasaheb,Kore,NaN,100
27,30-05-2023 11:04,2201002,Parth,Pramod,Agnihotri,NaN,83.32
28,30-05-2023 11:04,2201028,Mihir,Hemant,chaudhary,22.0,89
29,30-05-2023 11:05,2201037,Abhishek,Ramdas,Dethe,NaN,8
30,30-05-2023 11:05,2201095,Aditya,Ashok,Kodape,22.0,7.9 cgpa
31,30-05-2023 11:05,2201020,Mayur,Sanjaykumar,Biyale,NaN,83
32,30-05-2023 11:05,2201018,RIYA,PRAMOD,BHIDE,23.0,7.32 SGPA
33,30-05-2023 11:05,2201073,Utkarsha,Shridhar,Joshi,22.0,66
34,30-05-2023 11:05,2201008,Shreyash,Sanjay,Amrutkar,21.0,80
35,30-05-2023 11:05,2201056,Aditya,Sanjay,Jadhav,23.0,93
36,30-05-2023 11:05,2201077,Aniruddha,Rajesh,Kakade,NaN,70
37,30-05-2023 11:05,2201021,Yash,Subhash,Bombale,21.0,72.10%
38,30-05-2023 11:05,2201009,Anshika,,,NaN,7.96
39,30-05-2023 11:05,2201094,keshvi,kumari,khanduja,22.0,8.5
40,30-05-2023 11:05,2201004,Ritika,Surendra,Ahuja,22.0,75%
41,30-05-2023 11:05,2201022,Omkar,Vijay,Borse,21.0,8.36
42,30-05-2023 11:05,2201061,Rohit,Sunil,Jadhav,23.0,7.21 SGPA
43,30-05-2023 11:05,2201031,Amogh,Shrikant,Datar,22.0,81
44,30-05-2023 11:06,2201012,Gaurav,Sunil,Bangade,21.0,8
45,30-05-2023 11:06,2201036,Eshan,Ashish,Desle,24.0,7
46,30-05-2023 11:06,2201058,Manasi,Shreedhar,Jadhav,22.0,8.5 sgpa
47,30-05-2023 11:06,2201066,Bhargav,Nandkishor,Jagtap,NaN,81
48,30-05-2023 11:06,2201067,srishti,Rajesh,Jain,23.0,7.3
49,30-05-2023 11:06,2201088,Sahil,Sunil,Karpe,23.0,80
50,30-05-2023 11:06,2201051,Sanskriti,.,gupta,NaN,100
51,30-05-2023 11:07,2201083,SUYASH,DILIP,KAMBLE,23.0,7.7
52,30-05-2023 11:07,2201007,Radhesahyam,Girish,Ambhore,22.0,8.9
53,30-05-2023 11:07,2201054,Viresh,Nandkumar,Hiremath,NaN,7.9
54,30-05-2023 11:07,2201029,Tasmay,Ghanshyam,Daimiwal,22.0,7.8
55,30-05-2023 11:07,2201075,vaibhav,Bharatrao,Kadam,23.0,95

In [45]:
df.iloc[:,2]

0         Swaroop
1             Isha
2          Pranav
3            Kunal
4           Naresh
5          Shreyas
6       Maitreyee
7          Mrunal
8         Vaibhav
9          Aakash
10        Sanket
11       Priyanka
12          Ranjit
13           Aditi
14           Tejas
15        hritika
16        Harshada
17      Sanskriti
18       Akanksha
19          Parth
20           Ajay
21          Tejas
22        Pranjal
23          Debraj
24         Shreya
25          Vedant
26         Ganesh
27          Parth
28          Mihir
29        Abhishek
30          Aditya
31          Mayur
32           RIYA
33       Utkarsha
34      Shreyash
35          Aditya
36       Aniruddha
37           Yash
38         Anshika
39         keshvi
40         Ritika
41          Omkar
42          Rohit
43           Amogh
44          Gaurav
45          Eshan
46         Manasi
47        Bhargav
48        srishti
49           Sahil
50      Sanskriti
51          SUYASH
52    Radhesahyam
53         Viresh
54         Tasmay
55         vaibhav
Name: name, dtype: object

In [46]:
df['native_city']

0              Pune
1              Pune
2              Pune
3             Surat
4        aurangabad
5              Pune
6              Pune
7              Pune
8            Mumbai
9              Pune
10        Chicnholi
11             Pune
12          Solapur
13             Pune
14           Nagpur
15             pune
16        Sangamner
17         Varanasi
18           Sinnar
19            Akola
20           Gondia
21             pune
22         Kolhapur
23          Kolkata
24         Kolhapur
25             Pune
26             pune
27             pune
28           mumbai
29         Amravati
30          Satefal
31             Beed
32           NAGPUR
33      Aurangabad
34           Nashik
35           Nashik
36         Kolhapur
37             Pune
38             Pune
39          neemuct
40            Dhule
41           Nashik
42        Sangamner
43             Pune
44           Warora
45             Pune
46    mahabaleshwar
47             pune
48             durg
49           Nashik
50         Varanasi
51           SASWAD
52             Pune
53           Sangli
54             Pune
55            Jalna
Name: native_city, dtype: object

In [47]:
df[['name','surname']]

            name       surname
0       Swaroop         Bankar
1           Isha         Hosur
2        Pranav          Joshi
3          Kunal        Golani
4         Naresh         Joshi
5        Shreyas  Dharashivkar
6     Maitreyee          Joshi
7        Mrunal          Joshi
8       Vaibhav          Dixit
9        Aakash         Jagtap
10      Sanket          Jadhav
11     Priyanka        Dhanave
12        Ranjit        Kokare
13         Aditi           Deo
14         Tejas     Dhanuskar
15      hritika           koli
16      Harshada      Bhalekar
17    Sanskriti          Gupta
18     Akanksha         Kadlag
19        Parth      Deshpande
20         Ajay        Koronde
21        Tejas         kashid
22      Pranjal        Shintre
23        Debraj           Das
24       Shreya          Korde
25        Vedant    Chandratre
26       Ganesh           Kore
27        Parth      Agnihotri
28        Mihir      chaudhary
29      Abhishek         Dethe
30        Aditya        Kodape
31        Mayur         Biyale
32         RIYA          BHIDE
33     Utkarsha         Joshi
34    Shreyash        Amrutkar
35        Aditya        Jadhav
36     Aniruddha        Kakade
37         Yash        Bombale
38       Anshika
39       keshvi       khanduja
40       Ritika          Ahuja
41        Omkar          Borse
42        Rohit         Jadhav
43         Amogh         Datar
44        Gaurav       Bangade
45        Eshan          Desle
46       Manasi         Jadhav
47      Bhargav         Jagtap
48      srishti           Jain
49         Sahil         Karpe
50    Sanskriti          gupta
51        SUYASH        KAMBLE
52  Radhesahyam        Ambhore
53       Viresh       Hiremath
54       Tasmay       Daimiwal
55       vaibhav         Kadam

In [48]:
df.columns

Index(['टाइमस्टँप', 'roll_num', 'name', 'middlename', 'surname', 'age',
       'marks', 'gender', 'favorite_sport', 'native_city',
       'year_of_passing_10th'],
      dtype='object')

In [49]:
df.drop(2)

,टाइमस्टँप,roll_num,name,middlename,surname,age,marks,gender,favorite_sport,native_city,year_of_passing_10th
0,30-05-2023 11:02,2201013,Swaroop,Jitendra,Bankar,21.0,7.9,Male,Badminton,Pune,2017
1,30-05-2023 11:02,22201055,Isha,Praveen,Hosur,22.0,8.64,Female,Swimming,Pune,2017
3,30-05-2023 11:02,2201049,Kunal,Vijay,Golani,NaN,8.36 SGPA,Male,Cricket,Surat,2017
4,30-05-2023 11:03,2201070,Naresh,prakash,Joshi,22.0,85,Male,cricket,aurangabad,2017
5,30-05-2023 11:03,2201041,Shreyas,Sanjay,Dharashivkar,22.0,7.9,Male,Swimming,Pune,2017
6,30-05-2023 11:03,2201068,Maitreyee,Mahesh,Joshi,22.0,9.25,Female,Badminton,Pune,2017
7,30-05-2023 11:03,2201069,Mrunal,Vivek,Joshi,21.0,88%,Female,swimming,Pune,2017
8,30-05-2023 11:03,2201043,Vaibhav,Girish,Dixit,23.0,80,Male,Squash,Mumbai,2015
9,30-05-2023 11:03,2201065,Aakash,Satish,Jagtap,21.0,82.4,Male,Cricket,Pune,2017
10,30-05-2023 11:03,2201063,Sanket,Rajaram,Jadhav,NaN,98.21,Male,Swimmng,Chicnholi,2017
11,30-05-2023 11:03,2201038,Priyanka,Popat,Dhanave,21.0,82.8,Female,Swimming,Pune,2017
12,30-05-2023 11:03,2201097,Ranjit,Prakash,Kokare,NaN,80,Male,Badminton,Solapur,2015
13,30-05-2023 11:03,2201032,Aditi,Mangesh,Deo,NaN,75%,Female,swimming,Pune,2017
14,30-05-2023 11:03,2201040,Tejas,Arun,Dhanuskar,NaN,90,Male,Cricket,Nagpur,2017
15,30-05-2023 11:03,2201098,hritika,chandrakant,koli,22.0,50,Female,cricket,pune,2016
16,30-05-2023 11:03,2201016,Harshada,Vijay,Bhalekar,22.0,78%,Female,Badminton,Sangamner,2017
17,30-05-2023 11:04,2201051,Sanskriti,.,Gupta,NaN,100,Female,.,Varanasi,2017
18,30-05-2023 11:04,2201076,Akanksha,Bharat,Kadlag,22.0,87,Female,Badminton,Sinnar,2016
19,30-05-2023 11:04,2201035,Parth,Dinkar,Deshpande,21.0,90,Male,Cricket,Akola,2017
20,30-05-2023 11:04,2201103,Ajay,Rupchand,Koronde,NaN,82,Male,Cricket,Gondia,2017
21,30-05-2023 11:04,2201089,Tejas,Mahendra,kashid,NaN,7.8,Male,Cricket,pune,2017
22,30-05-2023 11:04,2201177,Pranjal,Prakash,Shintre,22.0,87,Male,Football,Kolhapur,2016
23,30-05-2023 11:04,2201030,Debraj,Debasish,Das,NaN,100,Male,Football,Kolkata,2017
24,30-05-2023 11:04,2201101,Shreya,Rahul,Korde,21.0,85,Female,Cricket,Kolhapur,2017
25,30-05-2023 11:04,2201024,Vedant,Mangesh,Chandratre,22.0,8.57 sgpa,Male,Power Lifting,Pune,2017
26,30-05-2023 11:04,2201102,Ganesh,Balasaheb,Kore,NaN,100,Male,Cricket,pune,2016
27,30-05-2023 11:04,2201002,Parth,Pramod,Agnihotri,NaN,83.32,Male,TT_Badminton,pune,2019
28,30-05-2023 11:04,2201028,Mihir,Hemant,chaudhary,22.0,89,Male,football,mumbai,2017
29,30-05-2023 11:05,2201037,Abhishek,Ramdas,Dethe,NaN,8,Male,Cricket,Amravati,2016
30,30-05-2023 11:05,2201095,Aditya,Ashok,Kodape,22.0,7.9 cgpa,Male,football,Satefal,2017
31,30-05-2023 11:05,2201020,Mayur,Sanjaykumar,Biyale,NaN,83,Male,Cricket,Beed,2015
32,30-05-2023 11:05,2201018,RIYA,PRAMOD,BHIDE,23.0,7.32 SGPA,Female,CRICKET,NAGPUR,2015
33,30-05-2023 11:05,2201073,Utkarsha,Shridhar,Joshi,22.0,66,Female,Cricket,Aurangabad,2017
34,30-05-2023 11:05,2201008,Shreyash,Sanjay,Amrutkar,21.0,80,Male,Cricket,Nashik,2017
35,30-05-2023 11:05,2201056,Aditya,Sanjay,Jadhav,23.0,93,Male,Cricket,Nashik,2016
36,30-05-2023 11:05,2201077,Aniruddha,Rajesh,Kakade,NaN,70,Male,Football,Kolhapur,2017
37,30-05-2023 11:05,2201021,Yash,Subhash,Bombale,21.0,72.10%,Male,Swimming,Pune,2017
38,30-05-2023 11:05,2201009,Anshika,,,NaN,7.96,Female,Badminton,Pune,2016
39,30-05-2023 11:05,2201094,keshvi,kumari,khanduja,22.0,8.5,Female,badminton,neemuct,2017
40,30-05-2023 11:05,2201004,Ritika,Surendra,Ahuja,22.0,75%,Female,Badminton,Dhule,2021
41,30-05-2023 11:05,2201022,Omkar,Vijay,Borse,21.0,8.36,Male,cricket,Nashik,2017
42,30-05-2023 11:05,2201061,Rohit,Sunil,Jadhav,23.0,7.21 SGPA,Male,Cricket,Sangamner,2016
43,30-05-2023 11:05,2201031,Amogh,Shrikant,Datar,22.0,81,Male,Chess,Pune,2017
44,30-05-2023 11:06,2201012,Gaurav,Sunil,Bangade,21.0,8,Male,voliball,Warora,2017
45,30-05-2023 11:06,2201036,Eshan,Ashish,Desle,24.0,7,Male,Cricket,Pune,2014
46,30-05-2023 11:06,2201058,Manasi,Shreedhar,Jadhav,22.0,8.5 sgpa,Female,cricket,mahabaleshwar,2017
47,30-05-2023 11:06,2201066,Bhargav,Nandkishor,Jagtap,NaN,81,Male,football,pune,2017-18
48,30-05-2023 11:06,2201067,srishti,Rajesh,Jain,23.0,7.3,Female,badminton,durg,2015
49,30-05-2023 11:06,2201088,Sahil,Sunil,Karpe,23.0,80,Male,Snocker,Nashik,2014
50,30-05-2023 11:06,2201051,Sanskriti,.,gupta,NaN,100,Female,.,Varanasi,2017
51,30-05-2023 11:07,2201083,SUYASH,DILIP,KAMBLE,23.0,7.7,Male,MOTORSPORTS,SASWAD,80
52,30-05-2023 11:07,2201007,Radhesahyam,Girish,Ambhore,22.0,8.9,Male,Cricket,Pune,2017
53,30-05-2023 11:07,2201054,Viresh,Nandkumar,Hiremath,NaN,7.9,Male,Cricket,Sangli,2016
54,30-05-2023 11:07,2201029,Tasmay,Ghanshyam,Daimiwal,22.0,7.8,Male,Football,Pune,2017
55,30-05-2023 11:07,2201075,vaibhav,Bharatrao,Kadam,23.0,95,Male,Chess,Jalna,2016

In [50]:
df.drop('टाइमस्टँप',axis=1)

,roll_num,name,middlename,surname,age,marks,gender,favorite_sport,native_city,year_of_passing_10th
0,2201013,Swaroop,Jitendra,Bankar,21.0,7.9,Male,Badminton,Pune,2017
1,22201055,Isha,Praveen,Hosur,22.0,8.64,Female,Swimming,Pune,2017
2,2201071,Pranav,Girish,Joshi,22.0,8.2,Male,Cricket,Pune,2017
3,2201049,Kunal,Vijay,Golani,NaN,8.36 SGPA,Male,Cricket,Surat,2017
4,2201070,Naresh,prakash,Joshi,22.0,85,Male,cricket,aurangabad,2017
5,2201041,Shreyas,Sanjay,Dharashivkar,22.0,7.9,Male,Swimming,Pune,2017
6,2201068,Maitreyee,Mahesh,Joshi,22.0,9.25,Female,Badminton,Pune,2017
7,2201069,Mrunal,Vivek,Joshi,21.0,88%,Female,swimming,Pune,2017
8,2201043,Vaibhav,Girish,Dixit,23.0,80,Male,Squash,Mumbai,2015
9,2201065,Aakash,Satish,Jagtap,21.0,82.4,Male,Cricket,Pune,2017
10,2201063,Sanket,Rajaram,Jadhav,NaN,98.21,Male,Swimmng,Chicnholi,2017
11,2201038,Priyanka,Popat,Dhanave,21.0,82.8,Female,Swimming,Pune,2017
12,2201097,Ranjit,Prakash,Kokare,NaN,80,Male,Badminton,Solapur,2015
13,2201032,Aditi,Mangesh,Deo,NaN,75%,Female,swimming,Pune,2017
14,2201040,Tejas,Arun,Dhanuskar,NaN,90,Male,Cricket,Nagpur,2017
15,2201098,hritika,chandrakant,koli,22.0,50,Female,cricket,pune,2016
16,2201016,Harshada,Vijay,Bhalekar,22.0,78%,Female,Badminton,Sangamner,2017
17,2201051,Sanskriti,.,Gupta,NaN,100,Female,.,Varanasi,2017
18,2201076,Akanksha,Bharat,Kadlag,22.0,87,Female,Badminton,Sinnar,2016
19,2201035,Parth,Dinkar,Deshpande,21.0,90,Male,Cricket,Akola,2017
20,2201103,Ajay,Rupchand,Koronde,NaN,82,Male,Cricket,Gondia,2017
21,2201089,Tejas,Mahendra,kashid,NaN,7.8,Male,Cricket,pune,2017
22,2201177,Pranjal,Prakash,Shintre,22.0,87,Male,Football,Kolhapur,2016
23,2201030,Debraj,Debasish,Das,NaN,100,Male,Football,Kolkata,2017
24,2201101,Shreya,Rahul,Korde,21.0,85,Female,Cricket,Kolhapur,2017
25,2201024,Vedant,Mangesh,Chandratre,22.0,8.57 sgpa,Male,Power Lifting,Pune,2017
26,2201102,Ganesh,Balasaheb,Kore,NaN,100,Male,Cricket,pune,2016
27,2201002,Parth,Pramod,Agnihotri,NaN,83.32,Male,TT_Badminton,pune,2019
28,2201028,Mihir,Hemant,chaudhary,22.0,89,Male,football,mumbai,2017
29,2201037,Abhishek,Ramdas,Dethe,NaN,8,Male,Cricket,Amravati,2016
30,2201095,Aditya,Ashok,Kodape,22.0,7.9 cgpa,Male,football,Satefal,2017
31,2201020,Mayur,Sanjaykumar,Biyale,NaN,83,Male,Cricket,Beed,2015
32,2201018,RIYA,PRAMOD,BHIDE,23.0,7.32 SGPA,Female,CRICKET,NAGPUR,2015
33,2201073,Utkarsha,Shridhar,Joshi,22.0,66,Female,Cricket,Aurangabad,2017
34,2201008,Shreyash,Sanjay,Amrutkar,21.0,80,Male,Cricket,Nashik,2017
35,2201056,Aditya,Sanjay,Jadhav,23.0,93,Male,Cricket,Nashik,2016
36,2201077,Aniruddha,Rajesh,Kakade,NaN,70,Male,Football,Kolhapur,2017
37,2201021,Yash,Subhash,Bombale,21.0,72.10%,Male,Swimming,Pune,2017
38,2201009,Anshika,,,NaN,7.96,Female,Badminton,Pune,2016
39,2201094,keshvi,kumari,khanduja,22.0,8.5,Female,badminton,neemuct,2017
40,2201004,Ritika,Surendra,Ahuja,22.0,75%,Female,Badminton,Dhule,2021
41,2201022,Omkar,Vijay,Borse,21.0,8.36,Male,cricket,Nashik,2017
42,2201061,Rohit,Sunil,Jadhav,23.0,7.21 SGPA,Male,Cricket,Sangamner,2016
43,2201031,Amogh,Shrikant,Datar,22.0,81,Male,Chess,Pune,2017
44,2201012,Gaurav,Sunil,Bangade,21.0,8,Male,voliball,Warora,2017
45,2201036,Eshan,Ashish,Desle,24.0,7,Male,Cricket,Pune,2014
46,2201058,Manasi,Shreedhar,Jadhav,22.0,8.5 sgpa,Female,cricket,mahabaleshwar,2017
47,2201066,Bhargav,Nandkishor,Jagtap,NaN,81,Male,football,pune,2017-18
48,2201067,srishti,Rajesh,Jain,23.0,7.3,Female,badminton,durg,2015
49,2201088,Sahil,Sunil,Karpe,23.0,80,Male,Snocker,Nashik,2014
50,2201051,Sanskriti,.,gupta,NaN,100,Female,.,Varanasi,2017
51,2201083,SUYASH,DILIP,KAMBLE,23.0,7.7,Male,MOTORSPORTS,SASWAD,80
52,2201007,Radhesahyam,Girish,Ambhore,22.0,8.9,Male,Cricket,Pune,2017
53,2201054,Viresh,Nandkumar,Hiremath,NaN,7.9,Male,Cricket,Sangli,2016
54,2201029,Tasmay,Ghanshyam,Daimiwal,22.0,7.8,Male,Football,Pune,2017
55,2201075,vaibhav,Bharatrao,Kadam,23.0,95,Male,Chess,Jalna,2016

In [51]:
df.drop('टाइमस्टँप',axis=1,inplace=True)

In [52]:
df.columns

Index(['roll_num', 'name', 'middlename', 'surname', 'age', 'marks', 'gender',
       'favorite_sport', 'native_city', 'year_of_passing_10th'],
      dtype='object')

### Summary

In [54]:
df.describe()

           roll_num      age
count  5.600000e+01  38.0000
mean   2.558196e+06  22.0000
std    2.672613e+06   0.7711
min    2.201002e+06  21.0000
25%    2.201029e+06  21.2500
50%    2.201052e+06  22.0000
75%    2.201075e+06  22.0000
max    2.220106e+07  24.0000

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   roll_num              56 non-null     int64
 1   name                  56 non-null     object
 2   middlename            56 non-null     object
 3   surname               56 non-null     object
 4   age                   38 non-null     float64
 5   marks                 56 non-null     object
 6   gender                56 non-null     object
 7   favorite_sport        56 non-null     object
 8   native_city           56 non-null     object
 9   year_of_passing_10th  56 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 4.5+ KB

In [57]:
df.count()

roll_num                56
name                    56
middlename              56
surname                 56
age                     38
marks                   56
gender                  56
favorite_sport          56
native_city             56
year_of_passing_10th    56
dtype: int64

In [58]:
df.sum()

roll_num                                                        143258998
name                    Swaroop IshaPranav KunalNareshShreyasMaitreyee...
middlename              JitendraPraveenGirishVijayprakashSanjayMaheshV...
surname                 BankarHosurJoshiGolaniJoshiDharashivkarJoshiJo...
age                                                                 836.0
marks                   7.98.648.28.36 SGPA857.99.2588%8082.498.2182.8...
gender                  MaleFemaleMaleMaleMaleMaleFemaleFemaleMaleMale...
favorite_sport          BadmintonSwimmingCricketCricketcricketSwimming...
native_city             PunePunePuneSurataurangabadPunePunePuneMumbaiP...
year_of_passing_10th    2017201720172017201720172017201720152017201720...
dtype: object

In [59]:
df.mean()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_2864\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

roll_num    2.558196e+06
age         2.200000e+01
dtype: float64

In [60]:
df.median()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_2864\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

roll_num    2201052.5
age              22.0
dtype: float64

In [61]:
df['age'].mean()

22.0

In [62]:
df['name'].str.swapcase()

0         sWAROOP
1             iSHA
2          pRANAV
3            kUNAL
4           nARESH
5          sHREYAS
6       mAITREYEE
7          mRUNAL
8         vAIBHAV
9          aAKASH
10        sANKET
11       pRIYANKA
12          rANJIT
13           aDITI
14           tEJAS
15        HRITIKA
16        hARSHADA
17      sANSKRITI
18       aKANKSHA
19          pARTH
20           aJAY
21          tEJAS
22        pRANJAL
23          dEBRAJ
24         sHREYA
25          vEDANT
26         gANESH
27          pARTH
28          mIHIR
29        aBHISHEK
30          aDITYA
31          mAYUR
32           riya
33       uTKARSHA
34      sHREYASH
35          aDITYA
36       aNIRUDDHA
37           yASH
38         aNSHIKA
39         KESHVI
40         rITIKA
41          oMKAR
42          rOHIT
43           aMOGH
44          gAURAV
45          eSHAN
46         mANASI
47        bHARGAV
48        SRISHTI
49           sAHIL
50      sANSKRITI
51          suyash
52    rADHESAHYAM
53         vIRESH
54         tASMAY
55         VAIBHAV
Name: name, dtype: object

In [63]:
df[['name','middlename','surname']]

            name   middlename       surname
0       Swaroop      Jitendra        Bankar
1           Isha      Praveen         Hosur
2        Pranav        Girish         Joshi
3          Kunal        Vijay        Golani
4         Naresh      prakash         Joshi
5        Shreyas       Sanjay  Dharashivkar
6     Maitreyee        Mahesh         Joshi
7        Mrunal         Vivek         Joshi
8       Vaibhav        Girish         Dixit
9        Aakash        Satish        Jagtap
10      Sanket        Rajaram        Jadhav
11     Priyanka         Popat       Dhanave
12        Ranjit      Prakash        Kokare
13         Aditi      Mangesh           Deo
14         Tejas         Arun     Dhanuskar
15      hritika   chandrakant          koli
16      Harshada        Vijay      Bhalekar
17    Sanskriti             .         Gupta
18     Akanksha        Bharat        Kadlag
19        Parth        Dinkar     Deshpande
20         Ajay     Rupchand        Koronde
21        Tejas      Mahendra        kashid
22      Pranjal       Prakash       Shintre
23        Debraj     Debasish           Das
24       Shreya         Rahul         Korde
25        Vedant      Mangesh    Chandratre
26       Ganesh     Balasaheb          Kore
27        Parth        Pramod     Agnihotri
28        Mihir        Hemant     chaudhary
29      Abhishek       Ramdas         Dethe
30        Aditya        Ashok        Kodape
31        Mayur   Sanjaykumar        Biyale
32         RIYA        PRAMOD         BHIDE
33     Utkarsha      Shridhar        Joshi
34    Shreyash         Sanjay      Amrutkar
35        Aditya      Sanjay         Jadhav
36     Aniruddha       Rajesh        Kakade
37         Yash       Subhash       Bombale
38       Anshika
39       keshvi        kumari      khanduja
40       Ritika      Surendra         Ahuja
41        Omkar         Vijay         Borse
42        Rohit         Sunil        Jadhav
43         Amogh     Shrikant         Datar
44        Gaurav        Sunil       Bangade
45        Eshan        Ashish         Desle
46       Manasi     Shreedhar        Jadhav
47      Bhargav    Nandkishor        Jagtap
48      srishti        Rajesh          Jain
49         Sahil        Sunil         Karpe
50    Sanskriti             .         gupta
51        SUYASH        DILIP        KAMBLE
52  Radhesahyam        Girish       Ambhore
53       Viresh     Nandkumar      Hiremath
54       Tasmay     Ghanshyam      Daimiwal
55       vaibhav    Bharatrao         Kadam

In [64]:
df[['name','middlename','surname','native_city','favorite_sport']]

            name   middlename       surname    native_city favorite_sport
0       Swaroop      Jitendra        Bankar           Pune      Badminton
1           Isha      Praveen         Hosur           Pune       Swimming
2        Pranav        Girish         Joshi           Pune        Cricket
3          Kunal        Vijay        Golani          Surat        Cricket
4         Naresh      prakash         Joshi     aurangabad        cricket
5        Shreyas       Sanjay  Dharashivkar           Pune       Swimming
6     Maitreyee        Mahesh         Joshi           Pune      Badminton
7        Mrunal         Vivek         Joshi           Pune       swimming
8       Vaibhav        Girish         Dixit         Mumbai         Squash
9        Aakash        Satish        Jagtap           Pune        Cricket
10      Sanket        Rajaram        Jadhav      Chicnholi        Swimmng
11     Priyanka         Popat       Dhanave           Pune       Swimming
12        Ranjit      Prakash        Kokare        Solapur      Badminton
13         Aditi      Mangesh           Deo           Pune       swimming
14         Tejas         Arun     Dhanuskar         Nagpur        Cricket
15      hritika   chandrakant          koli           pune        cricket
16      Harshada        Vijay      Bhalekar      Sangamner      Badminton
17    Sanskriti             .         Gupta       Varanasi              .
18     Akanksha        Bharat        Kadlag         Sinnar      Badminton
19        Parth        Dinkar     Deshpande          Akola        Cricket
20         Ajay     Rupchand        Koronde         Gondia        Cricket
21        Tejas      Mahendra        kashid           pune        Cricket
22      Pranjal       Prakash       Shintre       Kolhapur       Football
23        Debraj     Debasish           Das        Kolkata       Football
24       Shreya         Rahul         Korde       Kolhapur        Cricket
25        Vedant      Mangesh    Chandratre           Pune  Power Lifting
26       Ganesh     Balasaheb          Kore           pune        Cricket
27        Parth        Pramod     Agnihotri           pune   TT_Badminton
28        Mihir        Hemant     chaudhary         mumbai       football
29      Abhishek       Ramdas         Dethe       Amravati        Cricket
30        Aditya        Ashok        Kodape        Satefal       football
31        Mayur   Sanjaykumar        Biyale           Beed        Cricket
32         RIYA        PRAMOD         BHIDE         NAGPUR        CRICKET
33     Utkarsha      Shridhar        Joshi     Aurangabad        Cricket
34    Shreyash         Sanjay      Amrutkar         Nashik        Cricket
35        Aditya      Sanjay         Jadhav         Nashik        Cricket
36     Aniruddha       Rajesh        Kakade       Kolhapur       Football
37         Yash       Subhash       Bombale           Pune      Swimming
38       Anshika                                      Pune      Badminton
39       keshvi        kumari      khanduja        neemuct      badminton
40       Ritika      Surendra         Ahuja          Dhule      Badminton
41        Omkar         Vijay         Borse         Nashik        cricket
42        Rohit         Sunil        Jadhav      Sangamner        Cricket
43         Amogh     Shrikant         Datar           Pune          Chess
44        Gaurav        Sunil       Bangade         Warora       voliball
45        Eshan        Ashish         Desle           Pune        Cricket
46       Manasi     Shreedhar        Jadhav  mahabaleshwar        cricket
47      Bhargav    Nandkishor        Jagtap           pune       football
48      srishti        Rajesh          Jain           durg      badminton
49         Sahil        Sunil         Karpe         Nashik        Snocker
50    Sanskriti             .         gupta       Varanasi              .
51        SUYASH        DILIP        KAMBLE         SASWAD    MOTORSPORTS
52  Radhesahyam        Girish       Ambhore           Pune        Cricket
53       Viresh     Nandkumar      Hiremath         Sangli        Cricket
54       Tasmay     Ghanshyam      Daimiwal           Pune       Football
55       vaibhav    Bharatrao         Kadam          Jalna          Chess

In [65]:
df['name'].str.startswith('A')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18     True
19    False
20     True
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29     True
30     True
31    False
32    False
33    False
34    False
35     True
36     True
37    False
38     True
39    False
40    False
41    False
42    False
43     True
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
Name: name, dtype: bool

In [66]:
df['surname'].str.endswith('r')

0      True
1      True
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16     True
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34     True
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43     True
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
Name: surname, dtype: bool

In [67]:
df['favorite_sport'].value_counts()

Cricket          17
Badminton         7
cricket           4
Football          4
Swimming          3
football          3
swimming          2
.                 2
Chess             2
badminton         2
Swimming          1
Snocker           1
voliball          1
TT_Badminton      1
Cricket           1
CRICKET           1
Power Lifting     1
Swimmng           1
Squash            1
MOTORSPORTS       1
Name: favorite_sport, dtype: int64

### Boolean filtering

In [69]:
df['age']>21

0     False
1      True
2      True
3     False
4      True
5      True
6      True
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16     True
17    False
18     True
19    False
20    False
21    False
22     True
23    False
24    False
25     True
26    False
27    False
28     True
29    False
30     True
31    False
32     True
33     True
34    False
35     True
36    False
37    False
38    False
39     True
40     True
41    False
42     True
43     True
44    False
45     True
46     True
47    False
48     True
49     True
50    False
51     True
52     True
53    False
54     True
55     True
Name: age, dtype: bool

In [72]:
x=df[(df['gender']=='Female')&(df['favorite_sport']=='cricket')]

In [73]:
x.to_csv('output.csv',index=False)